extends layout

block content
    div(ng-controller='MainController', class='text-center')
        h1= title
        div(ng-repeat='user in users')
            h2 {{user.name}}
            div(ng-repeat='photo in user.photos')
                h3 {{photo.name}}