doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/public/css/style.css')
    script(src='/public/js/angular/angular.js')
    script(src='/public/js/angular-resource/angular-resource.js')
    script(src='/public/js/build/angular-ui.js')

    script(src='/public/js/app.js')

  body(ng-app='instagram-feed')
    block content